:root{
	--news-color:#FF9900;
}
.main-panel > div{
	overflow:auto;
}
.body{
	padding : 20px;
	overflow:auto;
}
.body > div > .buttons{
	display:inline-flex;
	position:relative;
}
.buttons .button{
	font-size:200%;
	font-weight: 400;
	cursor:pointer;
	padding:5px;
	width:50px;
	box-shadow:0 2px 5px rgba(0,0,0,0.4);
	text-align:center;
	display:block;
	background-color: rgb(55,55,55);
}
.buttons .button svg{
	display:block;
	width:90%;
	margin:auto;
}
.buttons .button svg path,
.buttons .button svg circle,
.buttons .button svg polygon{
	transition: all 0.35s;
}
.buttons .button:hover svg path,
.buttons .button:hover svg circle,
.buttons .button:hover svg polygon{
	fill:white;
}
.buttons .button:last-child{
	position:relative;
}
#modules-BeeColor-news-panel ~ .main-panel > .panel-window > .body > div:not(.file-explorer) > .buttons .button:last-child::after{
	content:'';
	width:80%;
	background-color: black;
	height:3px;
	position:absolute;
	display:block;
	top:47.675%;
	left:10%;
	transform-origin: center center;
	transform: rotate(-45deg);
	transition:all 0.35s
}
#modules-BeeColor-news-panel ~ .main-panel > .panel-window > .body > div:not(.file-explorer) > .buttons .button:last-child:hover::after{
	background-color: white;
}
.buttons .button:first-child{
	color:#00ff00;
}
.buttons .button:nth-child(2){
	color:red;
}
.buttons .button:last-child,
.buttons .button:nth-child(3){
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.buttons .button:last-child .icon,
.buttons .button:nth-child(3) .icon{
	border-radius:100px;
	background-color: rgb(200,200,200);
	width:10px;
	height:10px;
	display:inline-block;
	margin:auto;
}
.buttons .button:nth-child(3) .icon{
	background-color: #00ff00;
}
.buttons .button .title{
	position:absolute;
	left:125%;
	top:50%;
	color:var(--news-color);
	font-size:16px;
	font-weight: 400;
	opacity:0;
	white-space: nowrap;
	transform: translateY(-50%);
	transition: all 0.35s;
	padding-left:10px;
	visibility: hidden;
}
.buttons .button:hover .title{
	visibility: visible;
	opacity: 1;
	left:100%;
}

#modules-BeeColor-news-panel ~ .main-panel .body table th:last-child,
#modules-BeeColor-news-panel ~ .main-panel .body table td:last-child{
	min-width:130px;
	width:130px;
	max-width: 130px;
	flex-shrink: 0;
	flex-grow: 0;
}
#modules-BeeColor-news-panel ~ .main-panel .body table th:nth-child(2),
#modules-BeeColor-news-panel ~ .main-panel .body table td:nth-child(2){
	flex:3;
	white-space: nowrap;
}
#modules-BeeColor-news-panel ~ .main-panel .body table th:nth-child(3),
#modules-BeeColor-news-panel ~ .main-panel .body table td:nth-child(3),
#modules-BeeColor-news-panel ~ .main-panel .body table th:nth-child(4),
#modules-BeeColor-news-panel ~ .main-panel .body table td:nth-child(4){
	white-space: nowrap;
}

.news-loader{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.8);
}
.news-loader .container{
	position:relative;
	height:100%;
	width:100%;
	display:flex;
	justify-content: center;
	flex-direction: column;
}
.news-window{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color: rgb(35,35,35);
	animation-name: news-window_fade-in;
	animation-duration: 0.35s;
}
.news-window .inputs .media-icon{
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.news-window .inputs .media-input{
	position:relative;
}
.news-window .inputs .media-input .preview{
	opacity:0;
	position:absolute;
	right:46px;
	top:50%;
	max-height:80%;
	transform: translateY(-50%);
	transition: all 0.35s;
	cursor:pointer;
}
.news-window .inputs .media-input:hover .preview{
	opacity: 1;
}
.news-window .inputs{
	display:flex;
	justify-content: center;
	flex-shrink: 0;
	margin-bottom:20px;
}
.news-window .inputs > *{
	flex:1;
}
.news-window .inputs > *:first-child{
	margin-right:20px;
}
.news-window input{
	display:block;
	padding:10px 20px;
	border:none;
	font-size: 105%;
}
.news-window .inputs .media-input > input:first-child{
	flex:1;
}
.news-window .body .file-explorer{
	flex:1;
}
.news-remove{
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background-color: rgb(55,55,55);
	box-shadow : 5px 5px 20px rgba(0,0,0,0.4);
	border-radius:10px;
	padding:20px;
}
.news-remove > p{
	margin:0;
	text-align:center;
}
.news-remove > .buttons{
	display:flex!important;
	justify-content: space-around;
	margin-top:20px;
}
.news-remove > .buttons > button{
	box-shadow : 5px 5px 10px rgba(0,0,0,0.4);
}
@keyframes news-window_fade-in {
	from{
		opacity:0;
		top:-40px;
	}
	to{
		opacity: 1;
		top:0;
	}
}
@media (max-width: 800px){
	.buttons .button .title{
		top:123%;
		left:25%;
	}
	.buttons .button:hover .title{
		left:0;
	}
	.buttons .button:last-child .title{
		left:-275%;
	}
	.buttons .button:last-child:hover .title{
		left:-300%;
	}
}
@media (max-width: 500px){
	.buttons .button .title{
		font-size:40%;
	}
}