.miel-enabled{
	cursor:pointer;
	position:relative;
}
.miel-enabled-icon::after{
	content : '\270E';
	height : 15px;
	width : 15px;
	position : relative;
	display:inline-block;
	right : -5px;
}
.miel-module-default{
	display:inline-flex;
	justify-content: flex-start;
	flex-wrap:nowrap;
}
.miel-module-default input{
	margin: 0 5px;
	padding:2px 5px;
	border-radius: 10px;
	background-color: rgba(210,210,210,0.7);
}
.miel-module-default img{
	width:initial;
	max-width: initial;
	min-width: initial;
	max-height: initial;
	min-height: initial;
	margin: 0 4px;
}